<!doctype html>
<html>
<head>
	<title>acronyms with strangers</title>
	<link href="css/normalize.css" rel="stylesheet" />
	<link href="css/aws.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
</head>
<body>

{{if !params.everyauth.loggedIn}}
<h2>Not Authenticated</h2>
<div id="register">
	<a href="/auth/twitter"><img style="border: 0px" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" /></a>
</div>
{{else}}
<h3><a href="/logout">Logout</a></h3>
<h1>you're logged in bro!</h1>
<div id="content"></div>
{{/if}}

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/ready.js"></script>
</html>