<!doctype html>
<html>
<head>
	<title>acronyms with strangers</title>
	<link href="css/normalize.css" rel="stylesheet" />
	<link href="css/aws.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
</head>
<body>

	<header>
		<h3>Acronyms with Strangers</h3>
	</header>

	<div class="login">
		{{if !everyauth.loggedIn}}
		<h2>Plz log in to play</h2>
		<div id="register">
			<a href="/auth/twitter"><img style="border: 0px" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" /></a>
		</div>
		<p>We promise not to send annoying auto-tweets, or <em>any</em> auto-tweets, or DMs, or stalk your friends, or go through your trash, or impersonate you at parties, or misuse your info in any other way we can think of.
		{{else}}
		<h1>Already logged in.</h1>
		<h3><a href="/logout">Logout</a></h3>
		{{/if}}
	</div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/ready.js"></script>
</html>
