<!doctype html>
<html>
<head>
	<title>acronyms with strangers</title>
	<link href="css/normalize.css" rel="stylesheet" />
	<link href="css/aws.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
</head>
<body>

	<header>
		<div id="timer">&nbsp;</div>
		<h3>Acronyms with Strangers</h3>
	</header>

	

	<div id="players">
		{{each players}}
		<a href="http://twitter.com/{{= $value.username}}" target="_blank" class="player {{= ($value.username==userInfo.username ? "me" : "")}}">{{= $value.username}}</a>
		{{/each}}
	</div>

	<div id="play">
		<div id="gameStage"></div>
		<div id="responseStage"></div>
	</div>

	<div id="vote"></div>


</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/pubsub.js"></script>
<script src="js/aws.js"></script>
<script>
	aws.userInfo = {
		username: "{{= userInfo.username}}"
	};
</script>
</html>