<!doctype html>
<html>
<head>
	<title>acronyms with strangers</title>
	<link href="css/normalize.css" rel="stylesheet" />
	<link href="css/aws.css" rel="stylesheet" />
</head>
<body>

	<div id="timer"></div>

	<div id="players">
		{{each players}}
		<a class="player">{{= $value.username}}</a>
		{{/each}}
	</div>

	<div id="play">
		<div id="gameStage"></div>
		<div id="responseStage"></div>
	</div>

	<div id="vote"></div>


</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/pubsub.js"></script>
<script src="js/aws.js"></script>
<script src="js/rules.json" type="text/json" id="config"></script>
<script>
	
</script>
</html>