
@media screen and (min-width: 600px) {
	
#players { float: left; width: 15%; max-width: 200px; }
#play, #vote { float: left; width: 60%; }

}

html { margin: 0px; padding: 0px; }
body { background: #333 url(/img/tactile_noise.png); margin: 0px; padding: 0px; color: #eee; font-family: Helvetica, sans-serif; }
header { position: fixed; top: 0px; left: 0px; width: 100%; background-color: rgba(120,120,120,0.5); border-radius: 0px 0px 10px 10px; padding: 5px 0px; box-shadow: 0px 2px 3px #191919; }
h1, h2, h3 { font-family: 'Slackey', Helvetica, sans-serif; color: #ddd; text-shadow: -2px 2px 3px #191919; margin: 0px; }
a { color: #f06; text-decoration: none; }
a.me { color: #60f; }
input[type=button] { font-family: 'Slackey', Helvetica, sans-serif; color: #222; text-shadow: 0px 1px 0px rgba(200,200,200,0.5); border: none; border-radius: 10px; box-shadow: 0px 2px 3px #191919; padding: 5px 20px; }
input[type=button]:hover { box-shadow: 0px -1px 3px #191919; }

header h3 { color: #cff; text-shadow: -2px 2px 3px #000; padding-left: 20px; }

.login { position: absolute; top: 100px; left: 50%; margin-left: -200px; width: 400px; background-color: rgba(50,50,50,0.5); border-radius: 10px; text-align: center; padding: 20px; }

#timer { background-color: #333; padding: 5px; margin-right: 20px; min-width: 50px; float: right; border-radius: 10px; box-shadow: 0px 1px 2px #777; text-align: right; }
#timer.out { color: #f00; }
.votebtn { float: right; margin-right: 10px; }
.playing #play,
.voting #vote { display: block; }
.playing #vote,
.voting #play { display: none;}

#players { margin: 50px 5%; background-color: rgba(50,50,50,0.5); border-radius: 10px; text-align: center; padding: 10px 0px; }
#players a { display: block; }
#play,
#vote { margin: 50px 5%; background-color: rgba(50,50,50,0.5); border-radius: 10px; }
#gameStage { padding: 20px; text-align: center; }
.letters { font-family: 'Slackey', Helvetica; text-transform: uppercase; color: #090; text-shadow: -2px 4px 5px #191919; font-size: 60px; -moz-animation: popin .5s 0s 1 forwards; -webkit-animation: popin .5s 0s 1 forwards; }
#responseStage { overflow: hidden;}
#responseStage textarea { background-color: #eee; width: 80%; margin: 10px 5%; padding: 50px; resize: none; font-family: helvetica, sans-serif; font-size: 20px; color: #333; border: 0px solid #ff0; border-radius: 10px; box-shadow: 0px 2px 3px #191919; }
#responseStage textarea.submitted { -moz-animation: borderf .5s 0s 1 forwards; -webkit-animation: borderf .5s 0s 1 forwards; }
#btnRespond { float: right; margin: 10px 5% 20px; background-color: #60f;  }
#btnRespond:hover { color: #000; }

#vote { padding: 20px;}
#vote h1 { text-align: center; }
#vote .response { display: block; background-color: rgba(200,200,200,0.6); padding: 5px; margin-bottom: 10px; overflow: hidden; }
#vote .response a { float: left; margin-right: 10px; } 
#vote .response i { font-style: normal; float: right; font-family: 'Slackey', Helvetica; color: #00f; }
.btnVote { float: right; background-color: #f60;}
.btnVote:hover { background-color: #ff0; }

#chatWrapper { clear: both; margin: 50px; background-color: rgba(50,50,50,0.5); border-radius: 10px; padding: 20px; }
#chat { max-height: 300px; color: #eee; overflow: auto; }
#txtChat { display: block; border: none; width: 90%; padding: 5px 5%; margin-top: 10px; }

@-webkit-keyframes popin {
    from { font-size: 1px; }
    to { font-size: 60px; }
}
@-moz-keyframes popin {
    from { font-size: 1px; }
    to { font-size: 60px; }
}

@-webkit-keyframes borderf {
	from { border-width: 5px; }
	to { border-width: 0px; }
}
@-moz-keyframes borderf {
	from { border-width: 5px; }
	to { border-width: 0px; }
}