body { background-color: #333; margin: 0px; padding: 20px; color: #eee; }
h1, h2, h3 { font-family: 'Slackey', cursive; color: #ccc; }

.playing #play,
.voting #vote { display: block; }
.playing #vote,
.voting #play { display: none;}