html { margin: 0px; padding: 0px; }
body { background: #333 url(/img/tactile_noise.png); margin: 0px; padding: 0px; color: #eee; font-family: helvetica, sans-serif; }
header { background-color: #666; opacity: 0.6; border-radius: 0px 0px 10px 10px; padding: 5px 20px; box-shadow: 0px 2px 3px #191919; }
h1, h2, h3 { font-family: 'Slackey', cursive; color: #ddd; text-shadow: -2px 2px 3px #191919; margin: 0px; }
a { color: #f06; text-decoration: none; }


header h3 { color: #cff; text-shadow: -2px 2px 3px #000; }
.playing #play,
.voting #vote { display: block; }
.playing #vote,
.voting #play { display: none;}

#players { float: left; width: 15%; margin: 20px 2%; background-color: rgba(50,50,50,0.5); border-radius: 10px; text-align: center; padding: 10px 0px; }
#players a { display: block; }
#play { float: left; width: 60%; margin: 20px 5%; background-color: rgba(50,50,50,0.5); border-radius: 10px; }
#gameStage { padding: 20px; text-align: center; }
.letters { font-family: 'Slackey', cursive; color: #090; text-shadow: -2px 4px 5px #191919; font-size: 60px; }
#responseStage textarea { background-color: #eee; width: 80%; margin: 10px 5%; padding: 5%; resize: none; font-family: helvetica, sans-serif; font-size: 20px; color: #333; border: none; border-radius: 10px; box-shadow: 0px 2px 3px #191919; }